[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_bin_path }}
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
